#top-hearts {
	position: fixed;
	background-image: url('./imgs/Falling_heart.gif');
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#play-text1 {
	margin-top: 10px;
}

.wrapper {
	height: 100%;
	color: black;
	padding: 50px;
}

.maincontent {
	display: flex;
	margin: 100px auto 20px auto;
	text-align: center;
	flex-flow: row;
	justify-content: center;
}

label {
	font-weight: 600;
}

.maincontent .input {
	width: 350px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 2px solid #ffffff;
	border-radius: 50px;
	color: black;
	outline: none;
	padding: 20px;
	font-size: 20px;
	justify-content: space-between;
	margin: 10px;
	text-align: center;
	text-transform: capitalize;
	box-shadow: 0 10px 23px 10px #00000020;
}

.maincontent .input:focus {
	width: 450px;
	background-color: #fff;
	color: #ff4136;
	transition: 0.3s;
	font-weight: 700;
}

.maincontent .input:valid {
	background-color: #fff;
	color: #ff4136;
	transition: 0.3s;
	font-weight: 700;
}

::placeholder {
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
	text-align: center;
}

#sumbit-button {
	background-color: #ffffff;
	border: 2px solid #ffffff;
	color: #ff4136;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 2px;
	transition: 0.5s;
	font-weight: 600;
	box-shadow: 0 10px 23px 10px #00000020;
	width: 40px;
	width: 200px;
	color: black;
}

#sumbit-button:hover {
	letter-spacing: 4px;
	transition: 0.5s;
}

.result {
	width: 50%;
	margin: 100px auto;
}

.result h1 {
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	color: black;
}

.divider {
	width: 200px;
	height: 2px;
	background-color: #fff;
	text-align: center;
	margin: 10px auto;
}

#loveinfo {
	line-height: 1.5;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	padding: 20px;
}

@media (max-width: 575.98px) {
	body {
		font-size: 16px;
	}

	.wrapper {
		padding: 50px 10px;
	}

	h1 {
		font-size: 1.5rem;
		color: black;
	}

	.maincontent {
		margin: 50px auto 20px auto;
		display: grid;
	}

	.maincontent .input {
		margin: 20px 0;
		width: 90%;
		height: 30px;
	}

	.maincontent .input:focus {
		width: 100%;
	}

	#sumbit-button {
		font-size: 16px;
		padding: 15px 5%;
	}

	.result {
		width: 90%;
		margin: 100px auto;
	}

	.divider {
		width: 30%;
	}

	#score {
		font-size: 2rem;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.wrapper {
		padding: 50px 10px;
	}
	h1 {
		color: black;

		font-size: 2rem;
	}

	.maincontent {
		margin: 50px auto 20px auto;
		display: grid;
	}
	.maincontent .input {
		margin: 20px 0;
		height: 30px;
	}

	#sumbit-button {
		font-size: 16px;
		padding: 15px 5%;
	}

	.result {
		width: 90%;
		margin: 100px auto;
	}

	.divider {
		width: 30%;
	}

	#score {
		font-size: 2rem;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.wrapper {
		padding: 50px 10px;
	}
	h1 {
		color: black;

		font-size: 3rem;
	}

	.maincontent {
		display: flex;
	}
	.maincontent .input {
		width: 300px;
		margin: 20px;
	}

	.maincontent .input:focus {
		width: 350px;
	}

	#sumbit-button {
		padding: 15px 5%;
	}

	.result {
		width: 90%;
		margin: 100px auto;
	}

	.divider {
		width: 30%;
	}

	#score {
		font-size: 2rem;
	}
}
